html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

@mixin dimensions {
  width: 442px;
  height: 404px;
}

$n-frames: 330;
$delay-begin: 2;
$delay-first: 1;
$delay-last: 1;

@for $i from 1 through $n-frames{
  #onde img:nth-child(#{$i}) {
    background: no-repeat center/100% url("frames/"+min($i, 330)+".png");
  }
}

#onde {
  @include dimensions;
  margin: auto;
  animation: aviseQuando ease-in-out infinite alternate 30s;
  background: no-repeat center/100% url("frames/1.png");
  animation-delay: 2s;
}

@keyframes aviseQuando {
  @for $i from 1 through 335 {
    $s: ($i * 100) / 335 + "%";
    $page: url("frames/"+min($i, 330)+".png");

    #{$s} {
      background: no-repeat center/100% $page;
    }
  }
}