html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

#onde {
  width: 442px;
  height: 404px;
  margin: auto;
  animation: aviseQuando steps(335) infinite alternate 30s;
  background: no-repeat center/100% url("frames/1.png");
}

@keyframes aviseQuando {
  0.2985074627% {
    background: no-repeat center/100% url("frames/1.png");
  }
  0.5970149254% {
    background: no-repeat center/100% url("frames/2.png");
  }
  0.8955223881% {
    background: no-repeat center/100% url("frames/3.png");
  }
  1.1940298507% {
    background: no-repeat center/100% url("frames/4.png");
  }
  1.4925373134% {
    background: no-repeat center/100% url("frames/5.png");
  }
  1.7910447761% {
    background: no-repeat center/100% url("frames/6.png");
  }
  2.0895522388% {
    background: no-repeat center/100% url("frames/7.png");
  }
  2.3880597015% {
    background: no-repeat center/100% url("frames/8.png");
  }
  2.6865671642% {
    background: no-repeat center/100% url("frames/9.png");
  }
  2.9850746269% {
    background: no-repeat center/100% url("frames/10.png");
  }
  3.2835820896% {
    background: no-repeat center/100% url("frames/11.png");
  }
  3.5820895522% {
    background: no-repeat center/100% url("frames/12.png");
  }
  3.8805970149% {
    background: no-repeat center/100% url("frames/13.png");
  }
  4.1791044776% {
    background: no-repeat center/100% url("frames/14.png");
  }
  4.4776119403% {
    background: no-repeat center/100% url("frames/15.png");
  }
  4.776119403% {
    background: no-repeat center/100% url("frames/16.png");
  }
  5.0746268657% {
    background: no-repeat center/100% url("frames/17.png");
  }
  5.3731343284% {
    background: no-repeat center/100% url("frames/18.png");
  }
  5.671641791% {
    background: no-repeat center/100% url("frames/19.png");
  }
  5.9701492537% {
    background: no-repeat center/100% url("frames/20.png");
  }
  6.2686567164% {
    background: no-repeat center/100% url("frames/21.png");
  }
  6.5671641791% {
    background: no-repeat center/100% url("frames/22.png");
  }
  6.8656716418% {
    background: no-repeat center/100% url("frames/23.png");
  }
  7.1641791045% {
    background: no-repeat center/100% url("frames/24.png");
  }
  7.4626865672% {
    background: no-repeat center/100% url("frames/25.png");
  }
  7.7611940299% {
    background: no-repeat center/100% url("frames/26.png");
  }
  8.0597014925% {
    background: no-repeat center/100% url("frames/27.png");
  }
  8.3582089552% {
    background: no-repeat center/100% url("frames/28.png");
  }
  8.6567164179% {
    background: no-repeat center/100% url("frames/29.png");
  }
  8.9552238806% {
    background: no-repeat center/100% url("frames/30.png");
  }
  9.2537313433% {
    background: no-repeat center/100% url("frames/31.png");
  }
  9.552238806% {
    background: no-repeat center/100% url("frames/32.png");
  }
  9.8507462687% {
    background: no-repeat center/100% url("frames/33.png");
  }
  10.1492537313% {
    background: no-repeat center/100% url("frames/34.png");
  }
  10.447761194% {
    background: no-repeat center/100% url("frames/35.png");
  }
  10.7462686567% {
    background: no-repeat center/100% url("frames/36.png");
  }
  11.0447761194% {
    background: no-repeat center/100% url("frames/37.png");
  }
  11.3432835821% {
    background: no-repeat center/100% url("frames/38.png");
  }
  11.6417910448% {
    background: no-repeat center/100% url("frames/39.png");
  }
  11.9402985075% {
    background: no-repeat center/100% url("frames/40.png");
  }
  12.2388059701% {
    background: no-repeat center/100% url("frames/41.png");
  }
  12.5373134328% {
    background: no-repeat center/100% url("frames/42.png");
  }
  12.8358208955% {
    background: no-repeat center/100% url("frames/43.png");
  }
  13.1343283582% {
    background: no-repeat center/100% url("frames/44.png");
  }
  13.4328358209% {
    background: no-repeat center/100% url("frames/45.png");
  }
  13.7313432836% {
    background: no-repeat center/100% url("frames/46.png");
  }
  14.0298507463% {
    background: no-repeat center/100% url("frames/47.png");
  }
  14.328358209% {
    background: no-repeat center/100% url("frames/48.png");
  }
  14.6268656716% {
    background: no-repeat center/100% url("frames/49.png");
  }
  14.9253731343% {
    background: no-repeat center/100% url("frames/50.png");
  }
  15.223880597% {
    background: no-repeat center/100% url("frames/51.png");
  }
  15.5223880597% {
    background: no-repeat center/100% url("frames/52.png");
  }
  15.8208955224% {
    background: no-repeat center/100% url("frames/53.png");
  }
  16.1194029851% {
    background: no-repeat center/100% url("frames/54.png");
  }
  16.4179104478% {
    background: no-repeat center/100% url("frames/55.png");
  }
  16.7164179104% {
    background: no-repeat center/100% url("frames/56.png");
  }
  17.0149253731% {
    background: no-repeat center/100% url("frames/57.png");
  }
  17.3134328358% {
    background: no-repeat center/100% url("frames/58.png");
  }
  17.6119402985% {
    background: no-repeat center/100% url("frames/59.png");
  }
  17.9104477612% {
    background: no-repeat center/100% url("frames/60.png");
  }
  18.2089552239% {
    background: no-repeat center/100% url("frames/61.png");
  }
  18.5074626866% {
    background: no-repeat center/100% url("frames/62.png");
  }
  18.8059701493% {
    background: no-repeat center/100% url("frames/63.png");
  }
  19.1044776119% {
    background: no-repeat center/100% url("frames/64.png");
  }
  19.4029850746% {
    background: no-repeat center/100% url("frames/65.png");
  }
  19.7014925373% {
    background: no-repeat center/100% url("frames/66.png");
  }
  20% {
    background: no-repeat center/100% url("frames/67.png");
  }
  20.2985074627% {
    background: no-repeat center/100% url("frames/68.png");
  }
  20.5970149254% {
    background: no-repeat center/100% url("frames/69.png");
  }
  20.8955223881% {
    background: no-repeat center/100% url("frames/70.png");
  }
  21.1940298507% {
    background: no-repeat center/100% url("frames/71.png");
  }
  21.4925373134% {
    background: no-repeat center/100% url("frames/72.png");
  }
  21.7910447761% {
    background: no-repeat center/100% url("frames/73.png");
  }
  22.0895522388% {
    background: no-repeat center/100% url("frames/74.png");
  }
  22.3880597015% {
    background: no-repeat center/100% url("frames/75.png");
  }
  22.6865671642% {
    background: no-repeat center/100% url("frames/76.png");
  }
  22.9850746269% {
    background: no-repeat center/100% url("frames/77.png");
  }
  23.2835820896% {
    background: no-repeat center/100% url("frames/78.png");
  }
  23.5820895522% {
    background: no-repeat center/100% url("frames/79.png");
  }
  23.8805970149% {
    background: no-repeat center/100% url("frames/80.png");
  }
  24.1791044776% {
    background: no-repeat center/100% url("frames/81.png");
  }
  24.4776119403% {
    background: no-repeat center/100% url("frames/82.png");
  }
  24.776119403% {
    background: no-repeat center/100% url("frames/83.png");
  }
  25.0746268657% {
    background: no-repeat center/100% url("frames/84.png");
  }
  25.3731343284% {
    background: no-repeat center/100% url("frames/85.png");
  }
  25.671641791% {
    background: no-repeat center/100% url("frames/86.png");
  }
  25.9701492537% {
    background: no-repeat center/100% url("frames/87.png");
  }
  26.2686567164% {
    background: no-repeat center/100% url("frames/88.png");
  }
  26.5671641791% {
    background: no-repeat center/100% url("frames/89.png");
  }
  26.8656716418% {
    background: no-repeat center/100% url("frames/90.png");
  }
  27.1641791045% {
    background: no-repeat center/100% url("frames/91.png");
  }
  27.4626865672% {
    background: no-repeat center/100% url("frames/92.png");
  }
  27.7611940299% {
    background: no-repeat center/100% url("frames/93.png");
  }
  28.0597014925% {
    background: no-repeat center/100% url("frames/94.png");
  }
  28.3582089552% {
    background: no-repeat center/100% url("frames/95.png");
  }
  28.6567164179% {
    background: no-repeat center/100% url("frames/96.png");
  }
  28.9552238806% {
    background: no-repeat center/100% url("frames/97.png");
  }
  29.2537313433% {
    background: no-repeat center/100% url("frames/98.png");
  }
  29.552238806% {
    background: no-repeat center/100% url("frames/99.png");
  }
  29.8507462687% {
    background: no-repeat center/100% url("frames/100.png");
  }
  30.1492537313% {
    background: no-repeat center/100% url("frames/101.png");
  }
  30.447761194% {
    background: no-repeat center/100% url("frames/102.png");
  }
  30.7462686567% {
    background: no-repeat center/100% url("frames/103.png");
  }
  31.0447761194% {
    background: no-repeat center/100% url("frames/104.png");
  }
  31.3432835821% {
    background: no-repeat center/100% url("frames/105.png");
  }
  31.6417910448% {
    background: no-repeat center/100% url("frames/106.png");
  }
  31.9402985075% {
    background: no-repeat center/100% url("frames/107.png");
  }
  32.2388059701% {
    background: no-repeat center/100% url("frames/108.png");
  }
  32.5373134328% {
    background: no-repeat center/100% url("frames/109.png");
  }
  32.8358208955% {
    background: no-repeat center/100% url("frames/110.png");
  }
  33.1343283582% {
    background: no-repeat center/100% url("frames/111.png");
  }
  33.4328358209% {
    background: no-repeat center/100% url("frames/112.png");
  }
  33.7313432836% {
    background: no-repeat center/100% url("frames/113.png");
  }
  34.0298507463% {
    background: no-repeat center/100% url("frames/114.png");
  }
  34.328358209% {
    background: no-repeat center/100% url("frames/115.png");
  }
  34.6268656716% {
    background: no-repeat center/100% url("frames/116.png");
  }
  34.9253731343% {
    background: no-repeat center/100% url("frames/117.png");
  }
  35.223880597% {
    background: no-repeat center/100% url("frames/118.png");
  }
  35.5223880597% {
    background: no-repeat center/100% url("frames/119.png");
  }
  35.8208955224% {
    background: no-repeat center/100% url("frames/120.png");
  }
  36.1194029851% {
    background: no-repeat center/100% url("frames/121.png");
  }
  36.4179104478% {
    background: no-repeat center/100% url("frames/122.png");
  }
  36.7164179104% {
    background: no-repeat center/100% url("frames/123.png");
  }
  37.0149253731% {
    background: no-repeat center/100% url("frames/124.png");
  }
  37.3134328358% {
    background: no-repeat center/100% url("frames/125.png");
  }
  37.6119402985% {
    background: no-repeat center/100% url("frames/126.png");
  }
  37.9104477612% {
    background: no-repeat center/100% url("frames/127.png");
  }
  38.2089552239% {
    background: no-repeat center/100% url("frames/128.png");
  }
  38.5074626866% {
    background: no-repeat center/100% url("frames/129.png");
  }
  38.8059701493% {
    background: no-repeat center/100% url("frames/130.png");
  }
  39.1044776119% {
    background: no-repeat center/100% url("frames/131.png");
  }
  39.4029850746% {
    background: no-repeat center/100% url("frames/132.png");
  }
  39.7014925373% {
    background: no-repeat center/100% url("frames/133.png");
  }
  40% {
    background: no-repeat center/100% url("frames/134.png");
  }
  40.2985074627% {
    background: no-repeat center/100% url("frames/135.png");
  }
  40.5970149254% {
    background: no-repeat center/100% url("frames/136.png");
  }
  40.8955223881% {
    background: no-repeat center/100% url("frames/137.png");
  }
  41.1940298507% {
    background: no-repeat center/100% url("frames/138.png");
  }
  41.4925373134% {
    background: no-repeat center/100% url("frames/139.png");
  }
  41.7910447761% {
    background: no-repeat center/100% url("frames/140.png");
  }
  42.0895522388% {
    background: no-repeat center/100% url("frames/141.png");
  }
  42.3880597015% {
    background: no-repeat center/100% url("frames/142.png");
  }
  42.6865671642% {
    background: no-repeat center/100% url("frames/143.png");
  }
  42.9850746269% {
    background: no-repeat center/100% url("frames/144.png");
  }
  43.2835820896% {
    background: no-repeat center/100% url("frames/145.png");
  }
  43.5820895522% {
    background: no-repeat center/100% url("frames/146.png");
  }
  43.8805970149% {
    background: no-repeat center/100% url("frames/147.png");
  }
  44.1791044776% {
    background: no-repeat center/100% url("frames/148.png");
  }
  44.4776119403% {
    background: no-repeat center/100% url("frames/149.png");
  }
  44.776119403% {
    background: no-repeat center/100% url("frames/150.png");
  }
  45.0746268657% {
    background: no-repeat center/100% url("frames/151.png");
  }
  45.3731343284% {
    background: no-repeat center/100% url("frames/152.png");
  }
  45.671641791% {
    background: no-repeat center/100% url("frames/153.png");
  }
  45.9701492537% {
    background: no-repeat center/100% url("frames/154.png");
  }
  46.2686567164% {
    background: no-repeat center/100% url("frames/155.png");
  }
  46.5671641791% {
    background: no-repeat center/100% url("frames/156.png");
  }
  46.8656716418% {
    background: no-repeat center/100% url("frames/157.png");
  }
  47.1641791045% {
    background: no-repeat center/100% url("frames/158.png");
  }
  47.4626865672% {
    background: no-repeat center/100% url("frames/159.png");
  }
  47.7611940299% {
    background: no-repeat center/100% url("frames/160.png");
  }
  48.0597014925% {
    background: no-repeat center/100% url("frames/161.png");
  }
  48.3582089552% {
    background: no-repeat center/100% url("frames/162.png");
  }
  48.6567164179% {
    background: no-repeat center/100% url("frames/163.png");
  }
  48.9552238806% {
    background: no-repeat center/100% url("frames/164.png");
  }
  49.2537313433% {
    background: no-repeat center/100% url("frames/165.png");
  }
  49.552238806% {
    background: no-repeat center/100% url("frames/166.png");
  }
  49.8507462687% {
    background: no-repeat center/100% url("frames/167.png");
  }
  50.1492537313% {
    background: no-repeat center/100% url("frames/168.png");
  }
  50.447761194% {
    background: no-repeat center/100% url("frames/169.png");
  }
  50.7462686567% {
    background: no-repeat center/100% url("frames/170.png");
  }
  51.0447761194% {
    background: no-repeat center/100% url("frames/171.png");
  }
  51.3432835821% {
    background: no-repeat center/100% url("frames/172.png");
  }
  51.6417910448% {
    background: no-repeat center/100% url("frames/173.png");
  }
  51.9402985075% {
    background: no-repeat center/100% url("frames/174.png");
  }
  52.2388059701% {
    background: no-repeat center/100% url("frames/175.png");
  }
  52.5373134328% {
    background: no-repeat center/100% url("frames/176.png");
  }
  52.8358208955% {
    background: no-repeat center/100% url("frames/177.png");
  }
  53.1343283582% {
    background: no-repeat center/100% url("frames/178.png");
  }
  53.4328358209% {
    background: no-repeat center/100% url("frames/179.png");
  }
  53.7313432836% {
    background: no-repeat center/100% url("frames/180.png");
  }
  54.0298507463% {
    background: no-repeat center/100% url("frames/181.png");
  }
  54.328358209% {
    background: no-repeat center/100% url("frames/182.png");
  }
  54.6268656716% {
    background: no-repeat center/100% url("frames/183.png");
  }
  54.9253731343% {
    background: no-repeat center/100% url("frames/184.png");
  }
  55.223880597% {
    background: no-repeat center/100% url("frames/185.png");
  }
  55.5223880597% {
    background: no-repeat center/100% url("frames/186.png");
  }
  55.8208955224% {
    background: no-repeat center/100% url("frames/187.png");
  }
  56.1194029851% {
    background: no-repeat center/100% url("frames/188.png");
  }
  56.4179104478% {
    background: no-repeat center/100% url("frames/189.png");
  }
  56.7164179104% {
    background: no-repeat center/100% url("frames/190.png");
  }
  57.0149253731% {
    background: no-repeat center/100% url("frames/191.png");
  }
  57.3134328358% {
    background: no-repeat center/100% url("frames/192.png");
  }
  57.6119402985% {
    background: no-repeat center/100% url("frames/193.png");
  }
  57.9104477612% {
    background: no-repeat center/100% url("frames/194.png");
  }
  58.2089552239% {
    background: no-repeat center/100% url("frames/195.png");
  }
  58.5074626866% {
    background: no-repeat center/100% url("frames/196.png");
  }
  58.8059701493% {
    background: no-repeat center/100% url("frames/197.png");
  }
  59.1044776119% {
    background: no-repeat center/100% url("frames/198.png");
  }
  59.4029850746% {
    background: no-repeat center/100% url("frames/199.png");
  }
  59.7014925373% {
    background: no-repeat center/100% url("frames/200.png");
  }
  60% {
    background: no-repeat center/100% url("frames/201.png");
  }
  60.2985074627% {
    background: no-repeat center/100% url("frames/202.png");
  }
  60.5970149254% {
    background: no-repeat center/100% url("frames/203.png");
  }
  60.8955223881% {
    background: no-repeat center/100% url("frames/204.png");
  }
  61.1940298507% {
    background: no-repeat center/100% url("frames/205.png");
  }
  61.4925373134% {
    background: no-repeat center/100% url("frames/206.png");
  }
  61.7910447761% {
    background: no-repeat center/100% url("frames/207.png");
  }
  62.0895522388% {
    background: no-repeat center/100% url("frames/208.png");
  }
  62.3880597015% {
    background: no-repeat center/100% url("frames/209.png");
  }
  62.6865671642% {
    background: no-repeat center/100% url("frames/210.png");
  }
  62.9850746269% {
    background: no-repeat center/100% url("frames/211.png");
  }
  63.2835820896% {
    background: no-repeat center/100% url("frames/212.png");
  }
  63.5820895522% {
    background: no-repeat center/100% url("frames/213.png");
  }
  63.8805970149% {
    background: no-repeat center/100% url("frames/214.png");
  }
  64.1791044776% {
    background: no-repeat center/100% url("frames/215.png");
  }
  64.4776119403% {
    background: no-repeat center/100% url("frames/216.png");
  }
  64.776119403% {
    background: no-repeat center/100% url("frames/217.png");
  }
  65.0746268657% {
    background: no-repeat center/100% url("frames/218.png");
  }
  65.3731343284% {
    background: no-repeat center/100% url("frames/219.png");
  }
  65.671641791% {
    background: no-repeat center/100% url("frames/220.png");
  }
  65.9701492537% {
    background: no-repeat center/100% url("frames/221.png");
  }
  66.2686567164% {
    background: no-repeat center/100% url("frames/222.png");
  }
  66.5671641791% {
    background: no-repeat center/100% url("frames/223.png");
  }
  66.8656716418% {
    background: no-repeat center/100% url("frames/224.png");
  }
  67.1641791045% {
    background: no-repeat center/100% url("frames/225.png");
  }
  67.4626865672% {
    background: no-repeat center/100% url("frames/226.png");
  }
  67.7611940299% {
    background: no-repeat center/100% url("frames/227.png");
  }
  68.0597014925% {
    background: no-repeat center/100% url("frames/228.png");
  }
  68.3582089552% {
    background: no-repeat center/100% url("frames/229.png");
  }
  68.6567164179% {
    background: no-repeat center/100% url("frames/230.png");
  }
  68.9552238806% {
    background: no-repeat center/100% url("frames/231.png");
  }
  69.2537313433% {
    background: no-repeat center/100% url("frames/232.png");
  }
  69.552238806% {
    background: no-repeat center/100% url("frames/233.png");
  }
  69.8507462687% {
    background: no-repeat center/100% url("frames/234.png");
  }
  70.1492537313% {
    background: no-repeat center/100% url("frames/235.png");
  }
  70.447761194% {
    background: no-repeat center/100% url("frames/236.png");
  }
  70.7462686567% {
    background: no-repeat center/100% url("frames/237.png");
  }
  71.0447761194% {
    background: no-repeat center/100% url("frames/238.png");
  }
  71.3432835821% {
    background: no-repeat center/100% url("frames/239.png");
  }
  71.6417910448% {
    background: no-repeat center/100% url("frames/240.png");
  }
  71.9402985075% {
    background: no-repeat center/100% url("frames/241.png");
  }
  72.2388059701% {
    background: no-repeat center/100% url("frames/242.png");
  }
  72.5373134328% {
    background: no-repeat center/100% url("frames/243.png");
  }
  72.8358208955% {
    background: no-repeat center/100% url("frames/244.png");
  }
  73.1343283582% {
    background: no-repeat center/100% url("frames/245.png");
  }
  73.4328358209% {
    background: no-repeat center/100% url("frames/246.png");
  }
  73.7313432836% {
    background: no-repeat center/100% url("frames/247.png");
  }
  74.0298507463% {
    background: no-repeat center/100% url("frames/248.png");
  }
  74.328358209% {
    background: no-repeat center/100% url("frames/249.png");
  }
  74.6268656716% {
    background: no-repeat center/100% url("frames/250.png");
  }
  74.9253731343% {
    background: no-repeat center/100% url("frames/251.png");
  }
  75.223880597% {
    background: no-repeat center/100% url("frames/252.png");
  }
  75.5223880597% {
    background: no-repeat center/100% url("frames/253.png");
  }
  75.8208955224% {
    background: no-repeat center/100% url("frames/254.png");
  }
  76.1194029851% {
    background: no-repeat center/100% url("frames/255.png");
  }
  76.4179104478% {
    background: no-repeat center/100% url("frames/256.png");
  }
  76.7164179104% {
    background: no-repeat center/100% url("frames/257.png");
  }
  77.0149253731% {
    background: no-repeat center/100% url("frames/258.png");
  }
  77.3134328358% {
    background: no-repeat center/100% url("frames/259.png");
  }
  77.6119402985% {
    background: no-repeat center/100% url("frames/260.png");
  }
  77.9104477612% {
    background: no-repeat center/100% url("frames/261.png");
  }
  78.2089552239% {
    background: no-repeat center/100% url("frames/262.png");
  }
  78.5074626866% {
    background: no-repeat center/100% url("frames/263.png");
  }
  78.8059701493% {
    background: no-repeat center/100% url("frames/264.png");
  }
  79.1044776119% {
    background: no-repeat center/100% url("frames/265.png");
  }
  79.4029850746% {
    background: no-repeat center/100% url("frames/266.png");
  }
  79.7014925373% {
    background: no-repeat center/100% url("frames/267.png");
  }
  80% {
    background: no-repeat center/100% url("frames/268.png");
  }
  80.2985074627% {
    background: no-repeat center/100% url("frames/269.png");
  }
  80.5970149254% {
    background: no-repeat center/100% url("frames/270.png");
  }
  80.8955223881% {
    background: no-repeat center/100% url("frames/271.png");
  }
  81.1940298507% {
    background: no-repeat center/100% url("frames/272.png");
  }
  81.4925373134% {
    background: no-repeat center/100% url("frames/273.png");
  }
  81.7910447761% {
    background: no-repeat center/100% url("frames/274.png");
  }
  82.0895522388% {
    background: no-repeat center/100% url("frames/275.png");
  }
  82.3880597015% {
    background: no-repeat center/100% url("frames/276.png");
  }
  82.6865671642% {
    background: no-repeat center/100% url("frames/277.png");
  }
  82.9850746269% {
    background: no-repeat center/100% url("frames/278.png");
  }
  83.2835820896% {
    background: no-repeat center/100% url("frames/279.png");
  }
  83.5820895522% {
    background: no-repeat center/100% url("frames/280.png");
  }
  83.8805970149% {
    background: no-repeat center/100% url("frames/281.png");
  }
  84.1791044776% {
    background: no-repeat center/100% url("frames/282.png");
  }
  84.4776119403% {
    background: no-repeat center/100% url("frames/283.png");
  }
  84.776119403% {
    background: no-repeat center/100% url("frames/284.png");
  }
  85.0746268657% {
    background: no-repeat center/100% url("frames/285.png");
  }
  85.3731343284% {
    background: no-repeat center/100% url("frames/286.png");
  }
  85.671641791% {
    background: no-repeat center/100% url("frames/287.png");
  }
  85.9701492537% {
    background: no-repeat center/100% url("frames/288.png");
  }
  86.2686567164% {
    background: no-repeat center/100% url("frames/289.png");
  }
  86.5671641791% {
    background: no-repeat center/100% url("frames/290.png");
  }
  86.8656716418% {
    background: no-repeat center/100% url("frames/291.png");
  }
  87.1641791045% {
    background: no-repeat center/100% url("frames/292.png");
  }
  87.4626865672% {
    background: no-repeat center/100% url("frames/293.png");
  }
  87.7611940299% {
    background: no-repeat center/100% url("frames/294.png");
  }
  88.0597014925% {
    background: no-repeat center/100% url("frames/295.png");
  }
  88.3582089552% {
    background: no-repeat center/100% url("frames/296.png");
  }
  88.6567164179% {
    background: no-repeat center/100% url("frames/297.png");
  }
  88.9552238806% {
    background: no-repeat center/100% url("frames/298.png");
  }
  89.2537313433% {
    background: no-repeat center/100% url("frames/299.png");
  }
  89.552238806% {
    background: no-repeat center/100% url("frames/300.png");
  }
  89.8507462687% {
    background: no-repeat center/100% url("frames/301.png");
  }
  90.1492537313% {
    background: no-repeat center/100% url("frames/302.png");
  }
  90.447761194% {
    background: no-repeat center/100% url("frames/303.png");
  }
  90.7462686567% {
    background: no-repeat center/100% url("frames/304.png");
  }
  91.0447761194% {
    background: no-repeat center/100% url("frames/305.png");
  }
  91.3432835821% {
    background: no-repeat center/100% url("frames/306.png");
  }
  91.6417910448% {
    background: no-repeat center/100% url("frames/307.png");
  }
  91.9402985075% {
    background: no-repeat center/100% url("frames/308.png");
  }
  92.2388059701% {
    background: no-repeat center/100% url("frames/309.png");
  }
  92.5373134328% {
    background: no-repeat center/100% url("frames/310.png");
  }
  92.8358208955% {
    background: no-repeat center/100% url("frames/311.png");
  }
  93.1343283582% {
    background: no-repeat center/100% url("frames/312.png");
  }
  93.4328358209% {
    background: no-repeat center/100% url("frames/313.png");
  }
  93.7313432836% {
    background: no-repeat center/100% url("frames/314.png");
  }
  94.0298507463% {
    background: no-repeat center/100% url("frames/315.png");
  }
  94.328358209% {
    background: no-repeat center/100% url("frames/316.png");
  }
  94.6268656716% {
    background: no-repeat center/100% url("frames/317.png");
  }
  94.9253731343% {
    background: no-repeat center/100% url("frames/318.png");
  }
  95.223880597% {
    background: no-repeat center/100% url("frames/319.png");
  }
  95.5223880597% {
    background: no-repeat center/100% url("frames/320.png");
  }
  95.8208955224% {
    background: no-repeat center/100% url("frames/321.png");
  }
  96.1194029851% {
    background: no-repeat center/100% url("frames/322.png");
  }
  96.4179104478% {
    background: no-repeat center/100% url("frames/323.png");
  }
  96.7164179104% {
    background: no-repeat center/100% url("frames/324.png");
  }
  97.0149253731% {
    background: no-repeat center/100% url("frames/325.png");
  }
  97.3134328358% {
    background: no-repeat center/100% url("frames/326.png");
  }
  97.6119402985% {
    background: no-repeat center/100% url("frames/327.png");
  }
  97.9104477612% {
    background: no-repeat center/100% url("frames/328.png");
  }
  98.2089552239% {
    background: no-repeat center/100% url("frames/329.png");
  }
  98.5074626866% {
    background: no-repeat center/100% url("frames/330.png");
  }
  98.8059701493% {
    background: no-repeat center/100% url("frames/330.png");
  }
  99.1044776119% {
    background: no-repeat center/100% url("frames/330.png");
  }
  99.4029850746% {
    background: no-repeat center/100% url("frames/330.png");
  }
  99.7014925373% {
    background: no-repeat center/100% url("frames/330.png");
  }
  100% {
    background: no-repeat center/100% url("frames/330.png");
  }
}