/* @font-face {
    font-family: 'oldstyle_hplhssc';
    src: url('oldstyschplhs-webfont.woff2') format('woff2'),
         url('oldstyschplhs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'oldstyle_hplhsitalic';
    src: url('oldstyitahplhs-webfont.woff2') format('woff2'),
         url('oldstyitahplhs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oldstyle_hplhsregular';
    src: url('oldstyhplhs-webfont.woff2') format('woff2'),
         url('oldstyhplhs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}